@use "./vars" as *;

.ads_banner {
    width: 100%;
    height: 300px;
    // background-color: black;
    margin-top: 50px;
    border-radius: 32px;
}

.title_bar {
    background-color: $background-dark;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding: 12px 0;
    margin-top: 90px;
    border-radius: 40px;

    &_back {
        height: 100%;
        position: absolute;
        background-color: $primary-color;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        border-radius: 40px;
        padding: 0 30px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    h1 {
        margin: 0;
        font-size: 24px;
    }
}

.info {
    &_wrapper {
        display: flex;
    }

    &_image {
        width: 100%;
        height: 360px;
        background-image: "";
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 40px 40px 40px 0;
        margin-top: 25px;
    }

    &_left {
        max-width: 750px;
        width: 100%;
        padding: 20px 30px 40px 30px;
        background-color: $background-dark;
        color: $white;
        height: fit-content;
        border-radius: 0px 0px 40px 40px;
    }

    &_right {
        display: flex;
        flex-direction: column;
        padding: 30px 50px 0px 50px;
        font-size: 24px;
        font-weight: 600;
        max-width: 600px;

        &_item {
            padding-left: 44px;
            position: relative;
            word-wrap: break-word;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            & p {
                margin: 0;
            }

            &::before {
                position: absolute;
                content: url("../images/Soft_Star_Red.svg");
                left: 0;
                top: 4px;
            }
        }
    }

    &_source {
        max-width: 600px;
        color: $white;
        font-size: 10px;
        color: gray;

        &::before {
            display: none;
        }
    }

    &_link {
        color: $text-color;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &_site::before {
        content: url("../images/place_page/site.svg");
    }

    &_phone::before {
        content: url("../images/place_page/phone.svg");
    }

    &_schedule::before {
        content: url("../images/place_page/clock.svg");
    }

    &_adress::before {
        content: url("../images/place_page/location.svg");
    }
}

.gallery-swiper {
    position: relative;
    margin-top: 50px;
    background-color: $background-light;
    padding: 20px !important;
    border-radius: 20px;

    &.hidden {
        display: none;
    }

    .swiper-slide {
        display: flex !important;
        justify-content: center !important;

        & img {
            border-radius: 20px;
            height: 500px;
        }
    }
}

.gallery-swiper-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.gallery-swiper-prev,
.gallery-swiper-next {
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.6;
    }

    &::before {
        content: "";
        display: inline-block;
        border-right: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        width: 15px;
        height: 15px;
    }
}

.gallery-swiper-prev {
    padding-left: 5px;

    &::before {
        transform: rotate(135deg);
    }
}

.gallery-swiper-next {
    padding-right: 5px;

    &::before {
        transform: rotate(-45deg);
    }
}

.gallery-swiper-pagination {
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 20px !important;

    .swiper-pagination-bullet {
        background-color: $primary-color;
    }
}

.gallery_tile {
    min-height: 100px;
    height: 100%;
    width: 100%;
    background-image: url("../image.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery_tiles {
    display: grid;
    height: 550px;
    margin-top: 50px;
    grid-template-areas:
        "A A A A   A B B B   C C C C"
        "D D D E   E E E E   C C C C";

    &.hidden {
        display: none;
    }

    .item_1 {
        grid-area: A;
        border-style: solid;
        border-width: 4px;
        border-color: $primary-color;
        border-radius: 32px 0px 0px 0px;
    }
    .item_2 {
        grid-area: B;
        border-top: 4px solid $primary-color;
        border-bottom: 4px solid $primary-color;
    }
    .item_3 {
        grid-area: C;
        border: 4px solid $primary-color;
        border-radius: 0px 32px 32px 0px;
    }
    .item_4 {
        grid-area: D;
        border-bottom: 4px solid $primary-color;
        border-left: 4px solid $primary-color;
        border-right: 4px solid $primary-color;
        border-radius: 0px 0px 0px 32px;
    }
    .item_5 {
        grid-area: E;
        border-bottom: 4px solid $primary-color;
    }
}

#map {
    margin-top: 60px;
    border-radius: 32px;
    border: 4px solid $primary-color;

    & ymaps {
        border-radius: 32px;
    }
}

.footer_source {
    max-width: 600px;
    color: $white;
    font-size: 10px;
    color: gray;
}
